/* src/components/ui/VocabItem/VocabItem.module.css */
.vocabItem {
  display: flex;
  background-color: var(--card);
  border-bottom: 1px solid var(--border);
  transition: background-color 0.2s;
  margin: 10px 0px;
  border-radius: 8px;
}

.vocabItem:hover {
  background-color: var(--bg-layer);
}

.sideAction {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary);
  flex-shrink: 0;
  padding: 10px 10px 10px 20px;
}

.sideAction:active {
  background-color: rgba(var(--primary-rgb), 0.15);
}

.vocabMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding-left: 5px;
  padding: 13px 10px;
  gap: 1px;
}

.wordRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* align-items: center; */
  /* margin-bottom: 6px; */
}

.wordRow :global(.hide-wrapper) {
  flex: 1;
  min-width: 0;
}

.wordText {
  font-size: 1.15rem;
  font-weight: 800;
  color: var(--text-main);
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: normal;
  display: block;
}

.vocabActions {
  display: flex;
  gap: 12px;
  color: var(--text-sub);
  flex-shrink: 0;
}

.iconBtn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.starActive {
  color: var(--warning);
}

.meaningRow {
  margin-bottom: 0px;
}

.meaningText {
  font-size: 0.95rem;
  color: var(--text-sub);
  font-weight: 600;
}

.exampleBox {
  margin-top: 5px;
  padding-left: 12px;
  border-left: 3px solid var(--border);
}

.exampleText {
  font-size: 0.95rem;
  color: var(--text-sub);
  line-height: 1.5;
  margin: 0;
  font-style: italic;
  /* transition: color 0.1s ease; */
}
